.element__like {
    background-color: white;
    border: 0px;
    margin-left: 20px;
    margin-right: 5px;
    cursor: pointer;
    background: none;
    margin: 0;
    padding: 0;
    align-self: center;
    align-items: center;
    width: 23px;
    height: 20px;
    background-image: url(../../../image/like.svg);
    background-repeat: no-repeat;
}

.element__like:hover {
    opacity: 0.5;
}

.element__like:active {
    background-image: url(../../../image/Union.svg);
    background-repeat: no-repeat;
    opacity: 1;
}